body {
  background-color: #74959a;
  margin: 0px;
  text-align: center;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
}

.middle-container {
  width: 100px;
}
.bottom-container {
  width: 100px;
}
#img-cloud1 {
  display: inline;
  position: relative;
  
  top: 180px;
 
}
#img-cloud2 {
  display: inline;
  position: relative;
 
  top: 230px;
 }
#img-mountain {
  display: inline-block   ;
  position: absolute;
  left: 28%;
}
