body {
  background-color: #aadbd2;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 100%;
}

h1 {
  margin: 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  height: 100px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66bfbf;
  font-weight: bold;
  margin: 3rem auto;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  margin: 0 auto;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #3e728b;
  border-width: 10px;
  width: 5%;
  margin-bottom: 60px;
  margin-top: 60px
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  margin: 0 0;
  height: 620px;
}

.nav-bar {
  display: inline;
  position: fixed;
  z-index: 2;
}

ul {
  background-color: #78dec9;
  margin: 0 0;
  position: fixed;
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  height: 2rem;
  left: 0;
}

li {
  float: left;
  display: block;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.5;
  background-color: #78dec9;
  width: 200px;
  height: 32px;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: #66bfbf;
}

li a:hover {
  color: white;
}

.contacts {
  float: right;
  right: 0;
}

.skill-level {
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

.bio {
  margin: auto;
  width: 50%;
  text-align: justify;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  height: 4rem;
  position: inherit;
  margin-left: 37.25rem;
  margin-top: 2.3rem;
}

.bottom-cloud {
  height: 5rem;
  position: absolute;
  left: 13.75rem;
  bottom: 15.75rem;
}

.img-mountain {
  height: 25.5rem;
  position: relative;
  bottom: 8rem;
}

.profile-picture {
  margin: 3rem auto 1rem auto;
  height: 200px;
}

/*------------------ TOP --------------------- */
.skill-programming {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 5%;
  float: left;
  margin-right: 30px;
}

.skill-cad {
  width: 6.5rem;
  float: left;
  margin-right: 30px;
}

.skill-solidworks {
  width: 6.5rem;
  float: left;
  margin: 0 30px 0 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0 auto;
  line-height: 2;
  text-align: justify;
}

.code-skills-description {
  clear: left;
}

.cad-skills-description {
  clear: left;
}

.solidworks-skills-description {
  clear: left;
}

.get-in{
  margin-bottom: 3rem;
}

button {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  background-color: #02c7c7;
  font-family: "Montserrat", sans-serif;
  margin: 1rem auto 1rem auto;
  font-weight: bold;
  color: white;
}

button:hover {
  height: 29.5px;
  width: 119.5px;
  color: #049191;
}

.beer {
  font-size: 30px;
}

.parag-more {
  margin-bottom: 5rem;
}

.parag-text {
  margin: 0 auto 0 auto;
  line-height: 1;
}

/*-------------------- BOTTOM ---------------- */
.bottom-container {
  background-color: #66bfbf;
  height: 100px;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.btn:hover {
  font-weight: bold;
  color: black;
}

a:hover {
  font-weight: bold;
  color: white;
}

.footer-link {
  font-weight: bold;
  text-align: center;
  margin: 25px 20px 0 0;
  display: inline-block;
  padding-left: 20px;
  text-decoration: none;
}

.resume {
  margin-top: 35px;
  left: 800px;
  width: 150px;
  right: 200px;
  margin-left: 300px;
  position: absolute;
}

.resume:hover {
  width: 150px;
  color: grey;
}

.end-line {
  float: inherit;
  font-style: normal;
}
